/* General Header Styling */
.header {
  background-color: #051eae;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px 0;
  position: relative;
  z-index: 1000;
  

}

.container-sign-btn {
  display: flex;
  justify-content: flex-end;
  padding: 10px 0;
  max-width: 250px;
  align-items: right;
  
}

.signup-btn, .signin-btn {
  margin-left: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  font-size: 16px;
}

.signup-btn:hover, .signin-btn:hover {
  background-color: #0056b3;
}


 
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}


.logo {
  margin-top: 10px;
  height: 50px;
  width: auto;
}

.header-title {
  font-size: 24px;
  margin-left: 15px;
  flex-grow: 1;
  text-align: center;
  
  
}

.menu-toggle {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  display: none;
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.header-nav.open {
  display: block;
}

.header-nav .nav-link,
.header-nav .dropdown-toggle {
  color: #131212;
  padding: 10px 15px;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  margin-left: 15px;
  flex-grow: 1;
  margin-top: 0%;
  
  
}

.header-nav .nav-link:hover,
.header-nav .dropdown-toggle:hover {
  color: #007bff;
}

.nav-dropdown .dropdown-menu {
  display: none;
  position: absolute;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.nav-dropdown .dropdown-menu.show {
  display: block;
}

.header-nav .nav-dropdown:hover .dropdown-menu {
  display: block;
}

.nav-dropdown .dropdown-menu {
  display: none;
}

.nav-dropdown .dropdown-item {
  color: #000;
  padding: 10px 20px;
  text-decoration: none;
  font-weight: bold;
  display: grid;
  background-color: #f309c8;
}

.nav-dropdown .dropdown-item:hover {
  background-color: #007bff;
  color: #fff;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .header-container {
    flex-direction: column;
  }

  .header-nav {
    display: none;
    flex-direction: column;
    width: 100%;
  }
  .menu-toggle{
    display: block;/*small screen*/
  }

  .header-nav.open {
    display: flex;
  }

  .header-nav .nav-link,
  .header-nav .dropdown-toggle {
    width: 100%;
    text-align: center;
  }
  

  .nav-dropdown .dropdown-menu {
    position: static;
    box-shadow: none;
    width: 100%;
  }
}
