.header {
  background-color: #0066cc;
  color: #fff;
  padding: 20px 0;
  margin-top: 20px;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container-sign-btn {
  display: flex;
  gap: 1px;
  margin-right: 20px;
  max-width: 300px;
  max-height: 50px;
}

.signup-btn,
.signin-btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  margin-right: 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.signup-btn:hover,
.signin-btn:hover {
  background-color: #0056b3;
}

.logo {
  height: 50px;
}

.header-title {
  margin: 0;
  font-size: 24px;
}

.menu-toggle {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  display: none;
}

.header-nav {
  display: flex;
}

.header-nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  
}


.header-nav li {
  margin-left: 20px;
  
}
.header-container{
  color: #ccc;
}

.header-nav a {
  text-decoration: none;
  color: #333;
}

.header-nav a:hover {
  text-decoration: underline;
}

/* Responsive styling */
@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }

  .header-nav {
    position: absolute;
    top: 60px;
    right: 0;
    background-color: #fff;
    width: 200px;
    flex-direction: column;
    display: none;
    box-shadow: 0 8px 16px rgba(0,0,0,0.1);
  }

  .header-nav.open {
    display: flex;
  }

  .header-nav ul {
    flex-direction: column;
  }

  .header-nav li {
    margin: 10px 0;
  }
  .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
    border-radius: 4px;
    z-index: 1000;
  }
  
  .dropdown-menu-show {
    display: block;
  }
  
  .dropdown-menu .nav-link {
    padding: 8px 12px;
    color: #333;
  }
  
  .dropdown-menu .nav-link:hover {
    background-color: #f8f9fa;
  }
  .header-nav {
    display: flex;
    align-items: center;
  }
  
  .header-nav.open {
    display: flex;
  }
  
  .nav-link {
    color: #eae4e4;
    padding: 10px 15px;
    text-decoration: none;
  }
  
  .nav-link:hover, .nav-link:focus {
    color: #c80909;
  }
  .dropdown-item {
    color: #000;
    padding: 10px 15px;
  }
  
  .dropdown-item:hover, .dropdown-item:focus {
    background-color: #f8f9fa;
    color: #000;
  }
  .mr-auto{
    color: #eae4e4;
  }
}
